{% extends '@Admin/base.html.twig' %}
{% block content_header %}
    <section class="content-header">
        <h1>
            <br>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    </section>
{% endblock content_header %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Логін</th>
                                <th>Почта</th>
                                <th>{{ knp_pagination_sortable(users, 'Активний', 'item.enabled') }}</th>
                                <th>Останній вхід</th>
                            </tr>
                            {% for item in users %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>
                                        {% if item.enabled == 1 %}
                                            <span class="label label-success">Так</span>
                                        {% else %}
                                            <span class="label label-warning">Ні</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if item.lastLogin == NULL %}
                                            Вхід не відбувався
                                        {% else %}
                                            {{ item.lastLogin|date("d-m-Y  h:i A") }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        {{ knp_pagination_render(users, 'AdminBundle:Pagination:pagination.html.twig') }}
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock content %}